<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DirectoryStats.Web</title>
    <link rel="shortcut icon" href="~/images/NinjaLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/bootswatch/spacelab/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/Content/Site.css"/>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a asp-controller="Home" asp-action="Index" class="navbar-brand">DirectoryStats.Web</a>*@
                <Span id="HeaderLogo">
                    <img src="~/images/folder-search.png" alt="HeaderLogo" />
                    <span class="HeaderText">NinjaSoft</span>
                    <span class="SubHeaderText">Directory Stats Web</span>
                </Span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <div><img src="~/images/home.png" alt="Home Icon" /></div>
                            <div>&nbsp;Home</div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Scan", "Home")">
                            <div><img src="~/images/system-search.png" alt="Scan Icon" /></div>
                            <div>&nbsp;&nbsp;Scan</div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("About", "Home")">
                            <div><img src="~/images/unknown_green.png" alt="About Icon" /></div>
                            <div>&nbsp;&nbsp;About</div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <div id="BodyContent" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - NinjaSoft</p>
        </footer>
    </div>

    <script src="~/Scripts/j"></script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
